* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "Rajdhani", sans-serif;
    background: #fff;
}
header {
    height: 10vh;
    color: #005B9A;
}
header img {
    width: 15em;
    height: 9em;
    margin-top: 5%;
    margin-left: 10%;
}
header h1{
    font-size: 2em;
    margin-left: 2em;
}
header ul li{
    font-size: 1.7em;
}
main > div {
    font-size: 2em;
}
.textMain{
    margin-top: 15%;
}
.textTitle {
    font-size: 1.5em;
    color: rgba(90, 117, 136, 0.425);
    margin-left: 3%;
    margin-top: 2em;
}
.textSubTitle{
    font-size: 1.2em;
    color: rgba(90, 117, 136, 0.350);
    margin-top: 1em;  
}
.space{
    margin-top: 2%;
}
.selectPlace{
    font-size: 1.2 em;
    font-style: italic;
    color: rgba(127, 161, 185, 0.2);
}
::placeholder{
    font-size: 1.2em;
    font-style: italic;
    color: rgba(127, 161, 185, 0.2);
}
footer {
  height: 4vh;
  font-size: 0.6em;
  color: #005B9A;
}
.bg-color{
    background-color: White;
    opacity: 0.9;
}
