* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Rajdhani", sans-serif;
  font-size: 24px;
}
header {
  height: 10vh;
  color: #005B9A;
}
header img {
  width: 7em;
  height: 3em;
  margin-top: 5%;
  margin-left: 10%;
}
header h1{
    margin-left: 1em;
}
header ul li{
    font-size: 0.7em;
}
main {
  height: 86vh;
}
.textMain{
    margin-top: 15%;
}
.textTitle {
    font-size: 0.7em;
    color: rgba(90, 117, 136, 0.425);
    margin-left: 3%;
    margin-top: 2em;
}
.space{
    margin-top: 2%;
}
.selectPlace{
    font-size: 0.9 em;
    font-style: italic;
    color: rgba(127, 161, 185, 0.2);
}
::placeholder{
    font-size: 0.9 em;
    font-style: italic;
    color: rgba(127, 161, 185, 0.2);
}
footer {
  height: 4vh;
  font-size: 0.6em;
  color: #005B9A;
}
.bg-color{
    background-color: White;
    opacity: 0.9;
}
